fastapi
uvicorn[standard]
python-dotenv
python-multipart

langchain
langchain-community
langchain-huggingface
langchain-classic

chromadb
sentence-transformers
transformers
torch --index-url https://download.pytorch.org/whl/cpu

pypdf
docx2txt
beautifulsoup4
requests

streamlit>=1.33.0
SpeechRecognition
gTTS
plotly
